html {
	font-size: 17px;
}

* {
	box-sizing: border-box;
}

input, button {
	font-size: inherit;
	font-family: inherit;
}

input {
	display: block;
	width: 100%;
	border: solid 2px gray;
	font-weight: 600;
	padding: 4px;
}

.width-2ch {
	width: calc(2ch + 40px);
}

.width-10ch {
	width: calc(5ch + 40px);
}

label, .label {
	margin-top: 10px;
	display: block;
	font-weight: 600;
}

button {
	margin-top: 5px;
	background-color: rgb(30,230, 200);
	color: white;
	font-weight: 800;
	border: 0;
	display: block;
	text-shadow: rgba(0,0,0,.3) 1px 0px 1px;
}

output {
	background-color: rgb(50,50,50);
	color: white;
	padding: 4px;
	width: 100%;
	display: block;
	min-height: 28px;
}

.mt20 {
	margin-top: 20px;
}

.App {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

form {
	margin-top: 50px;
}